<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Items</title>
</head>
<body>
      <%- include('../partials/_navbar.ejs') %>
    <h1>All Food Items</h1>

    <a href="/items/edit/:itemId">
    <% item.forEach(food => { %>
        <p> name: <%= food.name %> </p>
        <p>quantity: <%= food.quantity %> </p>
        <p>description: <%= food.description %> </p> <br>
   
   <% }); %>
      </a>





</body>
</html>